<p>signup works!</p>
<form #signuppage="ngForm" (ngSubmit)="getUserSignupDetails(loginpage.value)">
    <input  class="form-control" type="text" ngModel name="username" placeholder="Enter Name"><br><br>
    <input class="form-control" type="number" ngModel name="phone" placeholder="Enter Phone number"><br><br>
    <input class="form-control" type="email" ngModel name="email" placeholder="Enter Email Id"><br><br>
    <input class="form-control" type="email" ngModel name="password" placeholder="Enter password"><br><br>
    <button >Submit</button>
  </form>
