

  
  <app-search></app-search>

  <button (click)="SearchMovies()">Search Movies</button>

  <button (click)="getFavourites()">Favourite</button>

  <section id="portfolio" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading" id="HeadingText">Latest Movies</h2>
                <h3 class="section-subheading text-muted">Find you next watchlist here.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover"></div><img class="img-fluid" id="MovieImage" src="assets/img/star-sky.jpg"></a>
                <div class="portfolio-caption">
                    <h4 class="text-center d-lg-flex justify-content-lg-center">MovieName</h4><label class="text-nowrap text-center d-lg-flex justify-content-lg-center" id="GenreLabel">Genre</label><label class="d-lg-flex justify-content-lg-center" id="Rating-Label">Rating</label>
                    <div class="row">
                        <div class="col-lg-9" style="padding-right: 0;">
                            <p class="d-lg-flex justify-content-lg-center">Movie Description</p>
                        </div>
                        <div class="col" style="padding-right: 0;"><button class="btn btn-primary text-center border rounded-circle d-lg-flex justify-content-lg-end" id="FavouriteButton" type="button" style="margin-left: auto;width: 40;margin-right: 0;"><i class="fa fa-star"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>